.catalog {
  display: grid;
  gap: 1rem;
}

.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.catalog__search input {
  padding: .5rem .75rem;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  width: min(420px, 60vw);
}

.catalog__content {
  margin-top: 1rem;
}

.center {
  display: grid;
  place-items: center;
  padding: 4rem 0;
}

::ng-deep .mat-mdc-paginator-container {
  justify-content: center !important;
}


